# ==========================================
# Server
# ==========================================
PORT=8000
NODE_ENV=production


# ==========================================
# Database
# ==========================================
MONGODB_URL=your_mongodb_connection_string


# ==========================================
# Cloudinary
# ==========================================
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name


# ==========================================
# Brevo
# ==========================================
BREVO_API_KEY=your_brevo_api_key
BREVO_SENDER_EMAIL=your_verified_sender_email


# ==========================================
# Frontend / Backend
# ==========================================
CLIENT_URL=https://gravity-payal-yadavs-projects.vercel.app
API_URL=https://gravity-backend-eqp7.onrender.com


# ==========================================
# JWT
# ==========================================
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret

JWT_ACCESS_EXPIRE=1h
JWT_REFRESH_EXPIRE=7d
JWT_REFRESH_EXPIRE_REMEMBER=30d


# ==========================================
# Google OAuth
# ==========================================
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
